html {
    scroll-behavior: smooth;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
body {
    padding: 0;
    background-image: linear-gradient(180deg, #7F6A93 , #9DB5B2);
    font-family: 'Open Sans', sans-serif;
    
}
.aos-init:not(.aos-animate):after {
    position: fixed;
    }

.navbar {
    z-index: 2;
    background-color: #9DB5B2;
    box-shadow: -1px -7px 28px -10px rgba(0,0,0,0.75);
    font-size: large;
}
.navbar-brand {
    margin-left: 20px;
    margin-top: 5px;
}
.navbar li {
    font-size: 90%;
    align-items: center;
    margin-right: 10px;
    margin-left: 7px;
    padding: 0
}
.navbar .link-0 a:hover {
    text-decoration: none;
}

.img-logo-navbar {
    width: 60px;
    height: auto;
}

.img-logo-social {
    width: 27px;
    height: 27px;
}

.greeting {
    margin-top: 175px;
    margin-bottom: 175px;
    font-size: x-large;
    margin-left: 50px;
}
.landing-page {
    background-image: linear-gradient(180deg, #9DB5B2, #9db5b3 );
    padding: 60px;
    box-shadow: -1px -7px 28px -10px rgba(0,0,0,0.75);
}

.who {
    background-color:  #2A363B ;
    color: #9DB5B2;
    padding: 60px;
    box-shadow: -1px -7px 28px -10px rgba(0,0,0,0.75);
    font-size: large;
    text-align: center;
    padding-left: 90px;
    padding-right: 90px;
}

.row-who {
    display: flex;
    align-self: center;
    color: #2A363B;
}

.column-who {
    background-color: #9DB5B2;
    padding: 10px;
    box-shadow: -1px -7px 28px -10px rgba(0,0,0,0.75);
    border-radius: 12px;
    margin: 12px;
    font-size: large;
    text-align: center;
    width: 200px;
}

.img-who {
    width: 60px;
    height: auto;
}

.carousel-project {
    background-color: #9DB5B2 ;
    padding: 20px;
    font-size: large;
}

.carousel-img {
    width: 1000px;
    height: auto;
    padding-left: 5px;
    padding-right: 5px;
}
.link-list ul li {
    display: inline-block;
    list-style: none;
}

.link-list li {
    padding: 12px; 
    border: 2px solid #2A363B;
}
a.project-link {
    text-decoration: none;
    color: #2A363B ;
}
a.project-link:hover {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.achievement {
    background-color:  #2A363B ;
    color: #9DB5B2;
    padding: 70px;
    box-shadow: -1px -7px 28px -10px rgba(0,0,0,0.75);
    font-size: large;
    align-items: center;
}

.img-ach:hover {
    box-shadow: 0px 0px 21px 5px;
    cursor:pointer;
}

.featured-text {
    padding-left: 50px;
    color: #9DB5B2;
}

.card {
    background-color: #9DB5B2;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px ;
    display: inline-block;
    margin: 12px;
    align-items: center;
    box-shadow: -1px -7px 28px -10px rgba(0,0,0,0.75);
}

.card-img {
    width: 299px;
    height: 200px;
}

.skills {
    background-image: linear-gradient(180deg, #9DB5B2, #9db5b3);
    box-shadow: -1px -7px 28px -10px rgba(0,0,0,0.75);
    padding: 40px;
    font-size: large;
}

.skills-child {
    color: #9DB5B2;
    background-color: #2A363B;
    padding: 40px;
    padding-left: 12px;
    padding-right: 12px;
    margin: 15px;
    box-shadow: -1px -7px 28px -10px rgba(0,0,0,0.75);
    border-radius: 10px;
}

.contact {
    background-color: #2A363B ;
    color: #9DB5B2;
    padding: 70px;
    box-shadow: -1px -7px 28px -10px rgba(0,0,0,0.75);
    font-size: small;
    align-items: center;
}

.contact-column {
    display: inline;
    margin: 12px;
}

.img-contact:hover {   
    opacity: 0.6; 
    box-shadow: -1px -7px 28px -10px rgba(157,181,178,0.85);
}
.img-contact {
    width : 45px;
    height: auto;
}
.thanks {
    background-image: linear-gradient(180deg, #9DB5B2, #9db5b3);
    padding: 70px;
    box-shadow: -1px -7px 28px -10px rgba(0,0,0,0.75);
    font-size: small;
    align-items: center;
    display: block;
}

.e-mail {
    text-decoration: none;
}
.contact-button {
    border: none;
    outline: 0;
    padding: 8px;
    color: #2A363B ;
    background-color: #9DB5B2;
    text-align: center;
    cursor: pointer;
    width: 250px;
    font-size: 18px;
    border-radius: 12px;
}

.contact-button:hover {
    opacity: 0.7;
    box-shadow: -1px -7px 28px -10px rgba(157,181,178,0.85);
}

.attribution {
    color:#2A363B;
    align-items: center;
    font-size: large;
}

a.att-link {
    text-decoration: none;
    color: #2A363B;
}

a.att-link:hover {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.widget:hover {
    box-shadow: 0px 0px 21px 7px;
    color :#2A363B;
}

footer {
    background-color:  #2A363B ;
    padding: 20px;
    text-align: center;
    box-shadow: -1px -7px 28px -10px rgba(0,0,0,0.75);
    color: #9DB5B2;
}

hr.ach {
    border-top: 5px solid #9DB5B2;
}

@media all and (min-width: 992px) {
        .navbar .nav-item .dropdown-menu{  display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:0;  }
        .navbar .nav-item:hover .nav-link{ 
            color: black; 
        }
        .navbar .dropdown-menu.fade-down{ top:80%; transform: rotateX(-75deg); transform-origin: 0% 0%; }
        .navbar .dropdown-menu.fade-up{ top:180%;  }
        .navbar .nav-item:hover .dropdown-menu{ transition: .3s; opacity:1; visibility:visible; top:100%; transform: rotateX(0deg); }
    }
/*MOBILE*/
    @media screen and (max-width: 768px) {
        body, html {
            scroll-behavior: smooth;
            scroll-snap-type: none;
            margin: 0px;
            padding: 0px;
            overflow-x: hidden;
        }
    .row-who {
        display: inline-block;
        align-self: center;
    }
    .card {
        display: inline-block;
        align-items: center;
        margin: 12px;
    }
    .card-img {
        width: 280px;
        height: 170px;
    }
   .landing-page {
    background-image: linear-gradient(180deg, #9DB5B2, #9db5b3);
    padding: 45px;
    box-shadow: -1px -7px 28px -10px rgba(0,0,0,0.75);
    }
    .greeting {
        margin-top: 160px;
        margin-bottom: 160px;
        font-size: large;
        margin-left: 10px;
    }
    .carousel-img {
        width: 335px;
        height: auto;
    }

    .link-list li {
        padding: 2px; 
        border: none;
    }
    .skills {
        padding: 20px;
        border-radius: 12px;
        font-size: large;
    }
    .featured-text {
        padding-top: 20px;
        text-align: center;
        padding-right: 35px;
    }
    .skills-child {
        background-color: #2A363B;
        color: #9DB5B2;
        padding: 40px;
        border-radius: 12px;
        box-shadow: -1px -7px 28px -10px rgba(0,0,0,0.75); 
        margin: 12px;
        padding-right: 12px;
    }}
